@use 'mixins' as *;
@use "./generated_html_category_variables" as *;

$link-body-ok: 'link:is([itemprop], [rel="dns-prefetch"], [rel="modulepreload"], [rel="pingback"], [rel="preconnect"], [rel="prefetch"], [rel="preload"], [rel="stylesheet"])';
$input: 'input:not([type="hidden"])', 'input[type="hidden"]';
$heirarchically-correct-main-parents: html, body, div, form;

$global-attributes: accesskey, autocapitalize, autocorrect, autofocus, contenteditable, dir, draggable, enterkeyhint, hidden, inert, inputmode, is, itemid, itemprop, itemref, itemscope, itemtype, lang, nonce, popover, spellcheck, style, tabindex, title, translate, writingsuggestions;

$all: "*", "::after", "::before", "::backdrop", "::file-selector-button";

$warnings:
  ( 'a:not([href]),a[href=""]'              : '<a> tags have defined, non-empty hrefs.'
  , ':is(#{$phrasing}) :not(#{$phrasing})': 'Phrasing elements can only include other phrasing elements.'
  , ':is(#{$interactive}) :is(#{$interactive})': 'Interactive elements should not contain other interactive elements'
  , ':is(#{$obsolete})'                     : 'Obsolete Element'

  , 'input:not([type])'                     : '<input> should define a "type"'
  , 'input:not([name])'                     : '<input> should define a "name", as this is the label given for form data'
  , 'input[pattern]:not([title])'           : 'If you define a pattern on an <input>, "title" is also a helpful attribute'
  , 'input[placeholder]'                    : '<input> attribute placeholder is generally not recommended, especially as a replacement for a label.'
  , 'input'                                 : 'Labels should generally be followed by inputs'
  , 'label:not([for])'                      : 'A <label> should define a "for" attribute matching an <input> "id"'
  , 'label + input'                         : ''

  , 'html:not([lang])'                      : '<html> should define a "lang"'
  , 'iframe:not([title])'                   : '<iframe> should define a "title"'

  , 'img:not([alt])'                        : '<img> should define an alt'
  , 'button :is(#{$interactive})'           : '<button> should not include interactive elements'
  , 'a:empty:not([aria-label]):not([aria-labelledby]), a:not([aria-label]):not([aria-labelledby]) img:only-child:not([alt])' : 'All links should have text content, an image with alt text or an ARIA label.'
  , 'button:empty:not([aria-label]):not([aria-labelledby]), button:not([aria-label]):not([aria-labelledby]) img:only-child:not([alt])' : 'All buttons should have text content, an image with alt text or an ARIA label.'

  , 'figcaption'                            : '<figcaption>s must belong to parent <figure>s.'
  , 'figure figcaption'                     : ''

  , '[align], [alink], [background], [bgcolor], [border], [clear], [height], [hspace], [link], [nowrap], [start], [vlink], [vspace]':  'You are using a deprecated attribute. Use CSS instead.'
  , 'script[language]': 'The language attribute is superceded by type. Use type.' 
  , 'table[summary]': 'The summary attribute is deprecated. Perhaps use the <caption> element.'

  , '[tabindex]:not([tabindex="0"]):not([tabindex="-1"])' : 'Do not disrupt the natural tab order.' 

  , ':is(#{$sectioning}) [role="banner"]': '[role="banner"] is used for a sitewide heading, it should not be in a subsection. It is also equal in meaning to a top level <heading> element.'
  , ':is(#{$sectioning}) [role="contentinfo"]': '[role="contentinfo"] is used for a sitewide footer, it should not be in a subsection. It is also equal in meaning to a top level <footer> element.'

  , 'a :not(#{difference($phrasing,$interactive)})': '<a> can only have non-interactive phrasing descendents'

  , 'li': 'li elements should not be outside ul or ol'
  , ':is(ul,ol) li': ''

  , 'form:not([action])': 'In HTML4, Forms must have action attributes. In HTML5, they are not required, but must be valid urls if defined.'
  , 'fieldset > *:first-child:not(legend)': 'Place a legend as the first element in this fieldset.'
  , 'form:not([action=""])': "If they're specified, forms \"action\" and \"formaction\" should be valid url."
  , 'main:is(:not(#{$heirarchically-correct-main-parents}) main)': 'If defined, <main> should be heirarchically correct.'
  );

:root {
  --color-revenge: #dc143c;
}
@each $selector, $message in $warnings {
  :is(#{$selector})::after {
    //outline: .3rem solid var(#dc143c);
    //box-shadow: 0 0 1rem .1rem var(--color-revenge,#dc143c);
    outline: .3rem solid var(--color-revenge);
    content: $message;
    display: block;
  }
}
